@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 100, 50, 55;
    --background-end-rgb: 150, 110, 70;
  }
}
@layer utilities {
  .headings {
    @apply text-2xl md:text-4xl lg:text-4xl xl:text-5xl 2xl:text-5xl font-bold uppercase;
  }
  .heading2 {
    @apply text-xl md:text-3xl lg:text-3xl xl:text-4xl 2xl:text-4xl font-bold uppercase;
  }
  .sub-heading {
    @apply text-base md:text-xl lg:text-xl uppercase;
  }
  .primary-text {
    @apply text-sm md:text-base font-bold text-white/50;
  }
  .buttonPrimary {
    @apply text-sm md:text-lg border transition-transform transform hover:shadow-md;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1 {
  color: antiquewhite;
}
select {
  background: transparent;
  background: #151412;
}
select{
    scrollbar-width: none; /*For Firefox*/;
    -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
}

select::-webkit-scrollbar { /*For WebKit Browsers*/
    width: 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.ui-datepicker {
    background:black;
    border: 1px solid #ccc;
    color: white;
}



