@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
}

.fadeIn {
  animation: fadeInOut 10s ease-in-out infinite;
}
